# node
node_modules/

# composer
vendor/
plugins/schemable-validator/vendor/

# wp-now development files.
database/
db.php/
mu-plugins/
uploads/

# local development files
library/Models/
library/**/ignore.*.php

# cache
.phpunit.result.cache